body{
    margin:0;
    padding:0;
    font-family: sans-serif;
}
.split {
    height: 100%;
    width: 50%;
    position: fixed;
    z-index: 1;
    top: 0;
    overflow-x: hidden;
    padding-top: 20px;
  }
  
  .left {
    left: 0;
    background: url(bg.jpg);
  }
  
  .right {
    right: 0;
    background: url(bg3.jpg);
  }
  
  .centered {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
  }
  
  .centered img {
    width: 150px;
    border-radius: 15%;
    transition: ease-in-out;
  }
  .centered img:hover{
    width:190px;
    
  }
  .btn
  {
    position: relative;
    border: none;
    outline: none;
    height: 50px;
    font-size: 25px;
    font-weight: bold;
    background: none;
    color:white;
    border-radius: 15px;
    cursor: pointer;
  }
  .btn:hover
  {
    background: blue;
    color:white;

  }